<ion-header>
  <ion-navbar>
    <ion-title>
      Search
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input placeholder="Search" [(ngModel)]="searchquery" type="text"></ion-input>
    <button ion-button item-right (click)="fetchSearchResults()">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-item>

  <ion-item-group ion-item *ngFor="let item of results">
    <ion-item-divider color="light">{{item.service}}</ion-item-divider>
    <ion-list>
      <button ion-item *ngFor="let item of item.songs" (click)="itemSelected(item)">
        <ion-avatar item-start>
          <img src="{{ item.thumbnail }}">
        </ion-avatar>
        {{ item.title }}
      </button>
    </ion-list>
  </ion-item-group>

  
</ion-content>